* {
    box-sizing: border-box;
    /* overflow: hidden; */
}
body{
    overflow-x: hidden;
}

/* 首頁內容 */
h3{
    text-align: center;
}
.HomeTop {
    width: 105vw;
    height: 30vh;
    background-image: url("./image/pexels-jakub-novacek-924824.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
}

#HomeBtn:hover{
    cursor: pointer;
    color: yellow;
}

#HomeContent {
    width: 100vw;
    height: 64vh;
    background-color: black;
    overflow: hidden;
}

.bigText{
    font-size: 50px;
}

.HomePic1Text{
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    bottom: 250px;
    font-size: 30px;
}

.HomePic2Text{
    backdrop-filter: blur(5px);
    border-radius: 30px;
    bottom: 250px;
    font-size: 30px;
}

.HomePic3Text{
    backdrop-filter: blur(5px);
    border-radius: 30px;
    bottom: 250px;
    font-size: 30px;
}

.slidebar{
    position: relative;
    top: 64vh;
}
.HomePic{
    margin-top: -40px;
    margin-left: -13px;
    margin-right: -13px;
}

  

/* 關於我內容 */
#AboutMeBtn:hover{
    cursor: pointer;
    color: yellow;
}

#AboutMeContent {
    display: none;
    background-image: url("./image/pexels-daniel-spase-734918.jpg"); 
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}


.pianoimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MusicShareBar{
    background-color: burlywood;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
}
.MusicShareText{
    color: rgb(59, 119, 148);
    font-weight: bold;
}

.copyRight{
    backdrop-filter: blur(10px);
    color:black;
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    right: 700px;
}

.BackTop{
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right:60px;
}
/* Concert內容 */
#ConcertBtn:hover{
    cursor: pointer;
    color: yellow;
}

#ConcertContent{
    display: none;
}