body{
    overflow-x: hidden;
}

/* 首頁內容 */
h3{
    text-align: center;
}
.HomeTop {
    width: 100vw;
    height: 30vh;
    background-image: url("./image/pexels-jakub-novacek-924824.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    color: aliceblue;
}


#HomeBtn:hover{
    cursor: pointer;
    color: yellow;
}

#HomeContent {
    width: 100vw;
    height: 64vh;
    overflow: hidden;
}

.bigText{
    font-size: 2rem;
}

.HomePic1Text{
    color: rgb(191, 124, 0);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    bottom: 120px;
    font-size: 30px;
}

.HomePic2Text{
    border-radius: 30px;
    backdrop-filter: blur(5px);
    bottom: 120px;
    font-size: 30px;
}

.HomePic3Text{
    backdrop-filter: blur(5px);
    border-radius: 30px;
    bottom: 120px;
    font-size: 30px;
}

.slidebar{
    position: relative;
    top: 64vh;
}
.HomePic{
    margin-top: -40px;
    margin-left: -13px;
    margin-right: -13px;
}

  

/* 關於我內容 */
#AboutMeBtn:hover{
    cursor: pointer;
    color: yellow;
}

#AboutMeContent {
    display: none;
    background-image: url("./image/pexels-daniel-spase-734918.jpg"); 
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}


.pianoimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MusicShareBar{
    background-color: burlywood;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
}
.MusicShareText{
    color: rgb(59, 119, 148);
    font-weight: bold;
}

.copyRight{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    text-align: center;
    backdrop-filter: blur(10px);
    color:black;
    font-size: 30px;
}

.BackTop{
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right:60px;
}

/* Concert內容 */
#ConcertBtn:hover{
    cursor: pointer;
    color: yellow;
}

#ConcertContent{
    display: none;
    width: 100vw;
    height: 64vh;
    background-color: burlywood;   
}

.ConcertInfo{
    font-size: 50px;
    text-align: center;
}

.ConcertTable{
    width: 100vw;
    margin-left: -12px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
}
@media (max-width: 768px) {
    .ConcertTable{
        width: 100vw;
        height: fit-content;
        display: block;
        overflow-x: auto;
    }
}